.Rproj.user
.Rhistory
.RData
.Ruserdata
10-13-22-Zoom-Meeting-Plots.docx
10-13-22-Zoom-Meeting-Plots.log
10-13-22-Zoom-Meeting-Plots.tex
10:13:22 Zoom Meeting Plots.Rmd
CAR.R
Model Building Explanation.Rmd
