.Rproj.user
.Rhistory
.RData
.Ruserdata
10-13-22-Zoom-Meeting-Plots.docx
10-13-22-Zoom-Meeting-Plots.log
10-13-22-Zoom-Meeting-Plots.tex
10:13:22 Zoom Meeting Plots.Rmd
CAR.R
Model Building Explanation.Rmd
Data\MDR_Dengue_map.csv
base_model_final.RDS
.RDataTmp2
posterior_mod_2.rds
posterior_mod_3.rds
posterior_mod_4.rds
posterior_quant_1 (2).rds
posterior_quant_2.rds
MDR_Dengue_map.RDS
Base Model fit.docx
model_check.R
mod_sum.rds
.RDataTmp
.RDataTmp1
Data
