posterior_quant_10.rds
posterior_quant_100.rds
posterior_quant_110.rds
posterior_quant_120.rds
posterior_quant_130.rds
posterior_quant_140.rds
posterior_quant_144.rds
posterior_quant_20.rds
posterior_quant_30.rds
posterior_quant_40.rds
posterior_quant_50.rds
posterior_quant_60.rds
posterior_quant_70.rds
posterior_quant_80.rds
posterior_quant_90.rds
